@import "tailwindcss";


body {
    background-color: white;
}

h1 {
    font-weight: 400;    text-shadow:
    2px 2px 0 #fff2f2;
}


h2 {
    letter-spacing: 2px;
}

.k2d {
    font-family: 'K2D';
}


.bgOrange {
    background-color: #F39C84;
}

.bgOrangeSelect, .bgOrange:hover {
    background-color: #da8d78;
}


.orange {
    color: #F39C84;
}

.bgPurple {
    background-color: #CFABED;
}

.purple {
    color: #CFABED;
}

.bgBlue {
    background-color: #CEE1FC;
}

.blue {
    color: #CEE1FC;
}

.white {
    color: white;
}

h3 {
    color: #511b7e;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: large;
}

.dot {
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
}

.dotBlack {
    height: 35px;
    width: 35px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
}